/* Custom font face declarations */
@font-face {
  font-family: 'Dripity';
  src: url('/fonts/Dripity.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Cowboy';
  src: url('/fonts/Cowboy.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Kinda Sans Serif';
  src: url('/fonts/kinda-sans-serif.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}