---
import Layout from '../layouts/Layout.astro';
import ChatBot from '../components/ChatBot.vue';
import ChatHistory from '../components/ChatHistory.vue';
import PageSection from '../components/PageSection.vue';
---

<Layout
    title="Nick AI | A Chatbot for Nick's Portfolio"
    hideFooter={true}
    hideTerminal={true}
>
  <PageSection
      data-section-color="black"
      background-color="black"
      data-section-theme="dark"
      full-height
      full-width
  >
    <div class="chat-layout">
      <ChatHistory client:only="vue"/>
      <ChatBot
          client:only="vue"
          theme="dark"
      />
    </div>
  </PageSection>
</Layout>

<style>
    .chat-layout {
        display: flex;
        height: calc(100vh - var(--site-header-height));
        height: calc(100dvh - var(--site-header-height));
        margin-top: var(--site-header-height);
        overflow: hidden;
    }
</style>
