---
import Layout from '../layouts/Layout.astro';
import ChatBot from '../components/ChatBot.vue';
import ChatHistory from '../components/ChatHistory.vue';
import { isTerminalHiddenStore } from '../stores/ui.js';

// Set the terminal to be hidden initially when the page loads
if (typeof window !== 'undefined') {
  // Only run on client-side
  isTerminalHiddenStore.set(true);
}
---

<Layout
  title="Nick AI | A Chatbot for Nick's Portfolio"
  hideFooter={true}
  hideTerminal={true}
>
  <main
      data-section-color="black"
      background-color="black"
      data-section-theme="dark"
      class="chat-layout"
  >
    <ChatHistory client:only="vue" />
    <ChatBot
         client:only="vue"
        theme="dark"
    />
  </main>
</Layout>

<script>
  // This script runs on the client side
  import { isTerminalHiddenStore } from '../stores/ui.js';

  // Set the terminal to be hidden when the page loads
  isTerminalHiddenStore.set(true);
</script>

<style>
    .chat-layout {
        display: flex;
        height: calc(100vh - var(--site-header-height));
        margin-top: var(--site-header-height);
        overflow: hidden;
    }
</style>
